
.story{
	display: flex;
	padding: 5px;
	margin: 15px 0px 15px 0px;
	padding-top: 70px;
	
}

.story__item{
	display: flex;
	width:100%;
	justify-content:space-around;
	align-content: center;
	align-items: center;
		
}
.story__img{
	width: 70px;
	height: auto;
	border-radius: 100%;
	padding:2px;
	
}

.story__img--new{
	border: 2px solid rgb(249, 138, 138);
	padding:4px;
	
}
